.wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
}

.user-container {
}

.bat-dest {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

.address-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.luggage-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.crt-req-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.request-box {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.req-pos {
    margin: 10% 20% 30% 20%;
}

.btn-size {
    width: 45%;
}